<div class="agenda eventWrapper">
  <% previous_date = nil %>
  <% @current_events = @events.not_past %>
  <%  @current_events.each do |e| %>
  <div>
    <div class="agendaDate">
      <% if previous_date != e.release_date %>
        <%= e.release_date.strftime("%B %e %Y")  %>
      <% end %>
    </div>
    <div class="agendaInfo">
      <%= link_to e.event, event_path(e) %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to icon('pencil', ' Edit'), edit_event_path(e) %>
      <% previous_date = e.release_date %>
    </div>
  </div>
  <% end %>
</div>
