
<%= render 'form' %>

<div class="mistake">
  <h4>Not the book you were looking for?</h4>
  <%= link_to @book, method: :delete do %>
    <div class="fakeButton">Back to Search</div>
  <% end %>
</div>
