<div class="mistake">
  Not the book you were looking for?
  <%= link_to @book, method: :delete, data: {confirm: 'Are you sure?'} do %>
    <div class="fakeButton">Remove From Library</div>
  <% end %>
</div>

<%= render 'form' %>
