html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.main {
  width: 90%;
  padding: 50px 10px 10px 10px;
  margin: 20px auto;
  @media all and (max-width: $break-s) {
    padding: 100px 10px 10px 10px;
  }
  @media all and (max-width: $break-xs) {
    width: 100%;
  }
}
a {
  font-size: 1rem;
  text-decoration: none;
  color: #4C4C4C;
  &:hover {
    color: #669966;
  }
  @media all and (max-width: $break-m) {
    font-size: 1rem;
  }
}
i {
  font-size: 1.5rem;
}
