@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html {
  box-sizing: border-box;
}
html, body {
  font-family: 'Roboto Slab', Arial, serif;
  font-size: 14px;
  color: #282828;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.main {
  min-height: 100%;
  position: relative;
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin: 50px auto 0 auto;
  @media all and (max-width: $break-s) {
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 100px auto 0 auto;
  }
  @media all and (max-width: $break-xs) {
  }
}
a {
  font-size: 1rem;
  text-decoration: none;
  color: #4C4C4C;
  &:hover {
    color: #669966;
  }
}
i {
  font-size: 1.5rem;
}
