
.booksFilter {
  display: inline-block;
  width: 68%;
  text-align: left;
  padding: 0 30px;
  @media all and (max-width: $break-m) {
    padding: 0 10px;
  }
}
.bookViewSwitcher {
  display: inline-block;
  width: 28%;
  text-align: right;
  padding: 0 30px;
  font-size: 1.5rem;
  color: #669966;
  @media all and (max-width: $break-m) {
    padding: 0 10px;
  }
  i {
    font-size: 1.5rem;
  }
}
.bookshelf {
  // width: 100%;
  // margin: 0 auto;
}
.addSearchForm {
  width: 100%;
  border: none;
  // margin-top: 10px;
  input, select {
    margin: 5px 0;
  }
  i {
    font-size: 1.2rem;
    color: #4C4C4C;
    padding-left: 5px;
  }
}
.bookSearchAgain {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 60%;
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  .instruct {

  }
  .searchArea {
    text-align: center;
  }
  .form {
    margin: 0 auto;
    padding: 15px 10px 0 10px;
    width: 90%;
    border: none;
    input[type=submit] {
      width: 75%;
      margin: 10px 0 5px 0;
    }
  }
}
.book {
  display: inline-block;
  position: relative;
  width: 30%;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  margin: 10px;
  padding: 10px 5px;
  text-align: left;
  @media all and (max-width: $break-l) {
    width: 45%;
  }
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.bookFirst {
  height: 226px;
  vertical-align: middle;
  text-align: center;
  p {
    color: #4C4C4C;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}
.bookShow {
  position: relative;
  width: 80%;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  margin: 0 auto;
  padding: 10px 5px;
  text-align: left;
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    margin: 10px auto;
  }
}
.bookDescription {
  padding: 20px;
}
.bookImage {
  display: inline-block;
  position: relative;
  width: 48%;
  vertical-align: middle;
  text-align: center;
  img {
    width: 125px;
    height: 200px;
    overflow-y: hidden;
    margin: 0 auto;
  }
}
.bookInfo {
  display: inline-block;
  width: 50%;
  height: 200px;
  font-size: 0.9rem;
  vertical-align: middle;
  padding: 10px;
  ul {
    height:140px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 5px 0;
  }
  a {
    font-size: 1rem;
  }
  @media all and (max-width: $break-m) {
    text-align: left;
  }
}
.bookOverflow {
  max-height: 80px;
  overflow-y: hidden;
}
.bookNavIcon {
  height: 50px;
  vertical-align: baseline;
  text-align: center;
  padding-top: 20px;
  a {
  font-size: 1.5rem;
  padding: 5px;
  @media all and (max-width: $break-m) {
    padding: 5px 10px;
  }
  }
}
.bookInfoIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 8px;
  width: 30px;
  a {
    padding: 0;
  }
}
.bookNotes {
  margin: 0 20px;
  padding: 10px;
  background-color: #FFFFFF;
  border: solid 1px #EEEEEE;
}
.bottomNavLeft {
  display: inline-block;
  text-align: left;
  width: 20%;
}
.bottomNavCenter {
  display: inline-block;
  text-align: center;;
  width: 48%;
}
.bottomNavRight {
  display: inline-block;
  text-align: right;
  width: 20%;
}
.mistake {
  display: inline-block;
  width: 30%;
  background-color: #F8F8F8;
  border: solid 1px #9A9A9A;
  padding: 20px;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
}
.fakeButton {
  display: inline-block;
  text-align: center;
  border: solid 1px #9A9A9A;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px 20px;
  // width: 300px;
  background-color: #669966;
  color: #FFFFFF;
  &:hover {
    border-color: #808080;
    background-color: #476b47;
  }
  @media all and (max-width: $break-m) {
    // width: 240px;
  }
}
