.whole {
  width: 100%;
  margin: 10px 0;
}
.half {
  width: 49.5%;
  display: inline-block;
  margin: 10px 0;
}
.third {
  width: 32.5%;
  display: inline-block;
  margin: 10px 0;
}
.form {
  width: 60%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F8F8F8;
  padding: 20px;
  border: 1px solid;
  border-left-color: #9A9A9A;
  border-top-color: #9A9A9A;
  border-right-color: #D6D6D6;
  border-bottom-color: #D6D6D6;
}
.form label {
  padding-bottom: 15px;
  font-size: 1.2rem;
}
.form input[type=text], textarea {
  width: 100%;
}
.form input, select {
  height: 2rem;
  font-size: 1rem;
  border-left-width: thick;
  border-radius: 5px;
  padding-left: 8px;
}
.form textarea {
  font-size: 1rem;
  height: 120px;
  border-left-color: #9A9A9A;
  border-top-color: #9A9A9A;
  border-right-color: #EEEEEE;
  border-bottom-color: #EEEEEE;
  border-left-width: thick;
  border-radius: 5px;
  padding-left: 8px;
  resize: none;
}
.form input[type=submit] {
  border-width: 1px;
  margin: 5px 0;
  width: 300px;
  background-color: #669966;
  color: #FFFFFF;
  &:hover {
    border-color: #808080;
  }
}
.actions {
  text-align: center;
}
.bookshelf {
  height: 560px;
  // text-align: center;
}
.bookSearchAgain {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 45%;
  margin: 20px;
  padding: 5px;
  text-align: center;
  p {
    text-align: left;
  }
  .form {
    margin: 0 auto;
    padding: 10px;
    input[type=submit] {
      width: 60%;
    }
  }
}
.book {
  display: inline-block;
  position: relative;
  width: 30%;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  margin: 10px;
  padding: 10px 5px;
  text-align: left;
  @media all and (max-width: $break-l) {
    width: 45%;
  }
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.bookShow {
  position: relative;
  width: 80%;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  margin: 10px auto;
  padding: 10px 5px;
  text-align: left;
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    text-align: center;
    margin: 10px auto;
  }
}
.bookDescription {
  padding: 20px;
}
.bookImage {
  display: inline-block;
  position: relative;
  width: 48%;
  vertical-align: middle;
  text-align: center;
  img {
    width: 125px;
    height: 200px;
    overflow-y: hidden;
    margin: 0 auto;
  }
}
.bookInfo {
  display: inline-block;
  width: 50%;
  height: 200px;
  vertical-align: middle;
  padding: 10px;
  ul {
    height:140px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 5px 0;
  }
}
.bookNavIcon {
  height: 50px;
  vertical-align: baseline;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 20px;
  a {
  font-size: 1.5rem;
  }
}
.fakeButton {
  text-align: center;
  border: solid 1px #9A9A9A;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px 0;
  width: 300px;
  background-color: #669966;
  color: #FFFFFF;
  &:hover {
    border-color: #808080;
  }
  @media all and (max-width: $break-m) {
    width: 240px;
  }
}
