.events {
  position: relative;
}
.calendar {
  width: 100%;
}
.monthHeader {
  font-size: 1.5rem;
  i {
    font-size: 1.5rem;
  }
}
.simple-calendar th {
    @media all and (max-width: $break-s) {
    display: none;
  }
}
.simple-calendar .day {
  @media all and (max-width: $break-s) {
    display: block;
    width: 100%;
  }
}
.addToCalendar {
  display: inline-block;
  width: 30%;
  vertical-align: bottom;
  @media all and (max-width: $break-m) {
    display: block;
    width: 100%;
  }
}
.calendarSwitcher {
  display: inline-block;
  width: 69.5%;
  padding-top: 10px;
  text-align: right;
  @media all and (max-width: 805px) {
    display: block;
    width: 100%;
  }
  @media all and (max-width: $break-xs) {
    a {
      font-size: 0.9rem;
    }
  }
  .fakeButton {
    display: inline-block;
    margin: 0;
    width: 170px;
    background-color: $shade-7;
    border: solid 1px $shade-7;
    border-radius: 5px 5px 0 0;
    @media all and (max-width: $break-s) {
      width: 140px;
    }
    @media all and (max-width: $break-xs) {
      a {
        font-size: 0.9rem;
      }
    }
  }
}
.current .fakeButton {
  background-color: $accent;
  border-bottom: solid 1px $accent;
  border-top:  solid 3px $accent;
}
.eventWrapper {
  border: 1px solid $shade-7;
  padding: 5px;
}
.eventShow {
  width: 80%;
  background-color: $shade-2;
  border: 1px solid $shade-4;
  margin: 0 auto;
  padding: 10px 10px;
  text-align: left;
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    margin: 10px auto;
  }
}
.backEvent {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  @media all and (max-width: $break-m) {
    display: block;
    width: 95%;
    margin: 10px auto;
  }
}
.note {
  padding: 10px 0;
}
.agenda {
  padding: 20px;
  background-color: $shade-2;
  div {
    margin: 10px 0;
  }
}
.agendaDate {
  font-size: 1.3rem;
  font-weight: bold;
}
.agendaInfo {
  padding-left: 20px;
  font-size: 1.2rem;
  a {
    font-size: 1.2rem;
  }
}
