.header {
  background-color: #CCCCCC;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 5px 10px 0 10px;
  @media all and (max-width: $break-s) {
    height: 100px;
  }
}
.nav {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.5rem;
  vertical-align: middle;
  @media all and (max-width: $break-m) {
    width: 25%;
  }
  @media all and (max-width: $break-s) {
    width: 100%;
    text-align: center;
  }
  @media all and (max-width: $break-xs) {
  }
  a {
    padding-right: 10px;
    font-size: 1rem;
    @media all and (max-width: $break-l) {
      font-size: 0.9rem;
    }
    @media all and (max-width: $break-m) {
      font-size: 0rem;
    }
    @media all and (max-width: $break-s) {
      font-size: 0.9rem;
    }
    @media all and (max-width: $break-xs) {
      font-size: 0.8rem;
    }
  }
  i {
    font-size: 1.5rem;
    @media all and (max-width: $break-l) {
      font-size: 1.3rem;
    }
    @media all and (max-width: $break-m) {
      font-size: 1.2rem;
    }
    @media all and (max-width: $break-xs) {
      font-size: 1rem;
    }
  }
}
.searchForm {
  display: inline-block;
  width: 50%;
  position: absolute;
  right: 0;
  padding-right: 10px;
  text-align: right;
  @media all and (max-width: $break-m) {
    width: 74%;
  }
  @media all and (max-width: $break-s) {
    width: 100%;
    position: relative;
    text-align: center;
  }
  input {
    height: 2rem;
    border-left-width: thick;
    border-radius: 5px;
    padding-left: 8px;
    vertical-align: middle;
  }
  input[type='text'] {
    width: 60%;
    padding-left: 5px;
    @media all and (max-width: $break-s) {
      width: 55%;
    }
  }
  input[type=submit] {
    border-width: 1px;
    margin: 5px 0;
    width: 120px;
    background-color: #669966;
    color: #FFFFFF;
    &:hover {
      border-color: #808080;
    }
  }
}
