.pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 1em;
  cursor: default;
  @media all and (max-width: $break-s) {
    width: 100%;
  }
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current{
    font-style: normal;
    font-weight: 300;
    background-color: #669966;
    color: #FFFFFF;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.2;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    // text-shadow: rgba(white, .8) 1px 1px 1px;
    &:hover, &:focus {
      background-color: #CCCCCC;
    }
  }
  a {
    text-decoration: none;
    // color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
