.pagination {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 1em;
  cursor: default;
  @media all and (max-width: $break-s) {
    width: 100%;
  }
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: $shade-7;
  }
  .current{
    font-style: normal;
    font-weight: 300;
    background-color: $accent;
    color: $shade-1;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.2;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    &:hover, &:focus {
      background-color: $shade-6;
    }
  }
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
