.table {
  display: table;
  width: 98%;
  border-collapse: collapse;
  margin: 10px auto;
}
.tableRow {
  display: table-row;
  position: relative;
  top: 0;
}
.tableCell, .tableHead {
  display: table-cell;
  padding: 10px;
  border: $shade-1 1px solid;
}
.tableHead {
    font-weight: bold;
    background-color: $shade-4;
    border-bottom: 1px $shade-8 solid;
}
.tableRow:nth-child(odd) {
  background-color: $shade-3;
}
.table40 {
  width: 40%;
}
.table20 {
  width: 20%;
}
.table15 {
  width: 15%;
}
.table10 {
  width: 10%;
  @media all and (max-width: $break-m) {
    display: none;
  }
}
.read {
  display: inline-block;
  font-size: 2.5rem;
  color: $contrast;
  margin: -20px 5px 0 -10px;
  vertical-align: bottom;
}
