.ui-tooltip {
	font-size: 0.8rem;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 200px;
	background-color: rgba(245, 245, 245, 0.9);
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}
