// breaks

$break-xs: 355px;
$break-s: 440px;
$break-m: 700px;
$break-l: 975px;

// colors
$shade-10: #282828;
$shade-9: #4C4C4C;
$shade-8: #808080;
$shade-7: #9A9A9A;
$shade-6: #CCCCCC;
$shade-5: #D6D6D6;
$shade-4: #EEEEEE;
$shade-3: #F6F6F6;
$shade-2: #FBFBFB;
$shade-1: #FFFFFF;

$accent: #669966;
$accent-dk: #476b47;
$contrast: #996680;
